MONGO_URI = mongodb+srv://appsalon:UHH6zkRoe2pNNGGR@cluster0.t6l5uws.mongodb.net/appsalo_mevn?retryWrites=true&w=majority
FRONTEND_URL = http://localhost:5173

EMAIL_HOST = sandbox.smtp.mailtrap.io
EMAIL_PORT = 2525
EMAIL_USER = 9586d89be92966
EMAIL_PASS = af119a26d54540

JWT_SECRET = jwt_secret_key